@import "../../styles/mixins/responsive";
*{
    margin:0px;
}
.oranged{
    color: #FF7A00;
    font-size: 30px;
}
.background{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url('../../images/cup.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.7);
        @include tablet{
            position: relative;
            width: 100%;
            height: 100%;
            background-image: url('../../images/background.jpg');
            background-size: cover;
        }
        @include desktop{
            order: 1;
            background-image:  url('../../images/background.jpg');
            background-position: right;
            background-size: cover;
        }

}
.container-form-bg{
    width: 100vw;
    height: 100%;
    display: flex;

    justify-content: center;
    @include tablet{
        flex-direction: column;
    height: 100vh;

    }
    @include desktop{
            flex-direction: row;
        }
       
}
form{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    width: min(80vw,300px);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px 5px 20px 5px;
    margin-top: 20vh;
        @include tablet{
            padding: 0px 80px 20px 40px;
            margin-top: 50px;
            width: 700px;
            justify-content: flex-start;
        }
      
    .title{
        
        text-align: center;
        font-size: 28px;
        align-self: flex-start;
        margin: 1vh ;
        color: #ed6e0b;
            @include  tablet{
                margin-top: 2vh;
            }
            @include  desktop{
                margin-top: 7vh;
            }
           
    }
    .subtitle{
        padding: 0 10px;
        width: 100%;
        display: none;
        align-items: center;
            @include tablet{
                display: block;
                font-size: 22px;
            }
            @include desktop{
                margin-top: 12vh;
                
                font-size: 27px;
            }
    }
        input{
            border-radius: 10px;
            border: none;
            background-color: #ed6d0b9f!important;
            margin-top: 5px;
            padding: 4px 10px;
                &::placeholder{
                    color: rgba(0, 0, 0, 0.719);
                }
                &:autofill-selected{
                    background-color: #ed6d0b9f;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus{
                    box-shadow:0 0 0px 1000px #ed6d0b00 inset;
                    -webkit-box-shadow: 0 0 0px 1000px #ed6d0b00 inset;
                    transition: background-color 5000s ease-in-out 0s;
                }
               
        }
        .submitContainer{
            margin-top: 15px;
            padding:0 10px;
            
        }
        a{
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
        .formBox{
            height: auto;
            width: 100%;
        }
        button{
            font-size: 35px;
            color: #ed6d0b9f;
            border: none;
            background-color: white;
            cursor: pointer;
        }
}
