@import "../../styles/mixins/responsive";
.rulesContainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 25px;
    

        .title{
            margin-top: 5vh;
            font-family: 'Montserrat', sans-serif;
            font-size: 46px;
            font-weight: 600;
            color: #ed6e0b;
        }
        .subtitle{
            margin-top: 3.5vh;
            font-family: 'Montserrat', sans-serif;
            font-size: 29px;
            font-weight: 400;
            color: #ed6e0b;
            margin-bottom: 1.5vh;
            
        }
        .rules{
            width: 90%;
            margin-top: 2.7vh;
            font-size: 18px;
            color: whitesmoke;
            margin: auto;
            margin-bottom: 6vh;
            @include tablet{
                width: 80%;
                font-size: 20px;
            }
            @include desktop{
                width: 70%;
                font-size: 22px;
            }
        }
}
.backgroundRules{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/rules.jpg');
    background-position: center;
    background-size: cover;
    filter: brightness(0.3);
}