@import '../../styles/mixins/responsive';

.titlePari{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 1vh 0;
    color: white;
}
.send{
  border: none;
  margin-top: 5vh;
  height: 50px;
  font-size: 25px;
  width: 50%;
  margin:  5vh auto;
  color: #ed6d0b;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover{
    transform: scale(1.03);
  }
}
.containerPari{
width: 95vw;
max-width: 500px;
display: flex;
flex-direction: row;
align-items: center;
height: 50px;
border-collapse: collapse;
    
    .cell{
      background-color:white ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33333%;
        height: 100%;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        border-top: #808080 1px solid;
            border-bottom: #808080 1px solid;
        border-radius: 0px;
        -webkit-box-shadow: 0px 10px 13px -9px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -9px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        cursor: pointer;
        &.nul{
          border-inline: 1px solid black;
        }
        &.A{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            
            border-left: #808080 1px solid;
          }
        &.B{
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          
            border-right: #808080 1px solid;
        }
        &.selected{
            -webkit-box-shadow: 0px 10px 13px -15px #000000, 5px 5px 5px 5px rgba(0,0,0,0); 
            box-shadow: 0px 10px 13px -15px #000000, 5px 5px 5px 5px rgba(0,0,0,0);
            color:black;
            background-color: #ed6d0b;
        }
    }

}