@import '../../styles/mixins/responsive';

 .backgroundRating{
    width: 100%;
    height: 100%;
    background-image: url('../../images/test.jpeg');
    background-position: center;
    background-size: cover;
    position: fixed;

 }
 .gray{
    z-index: 2;
 }
 .title{
        font-size: 30px;
        color: #ed6e0b;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 3vh 0 0 0;
        @include tablet{
            margin-bottom: 0;
            margin-top: 7vh;
        }
    }
.tableContainer{
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
        
        table{
            max-width: 650px;
           width: 100%;
           margin: auto;
           border-collapse: collapse;
           margin-bottom: 3vh;
           @include desktop{
            font-size: 21px;
           }
                thead{
                    height: 90px;
                    font-size: 20px;
                    color: white;
                    @include desktop{
                        font-size: 23px;
                    }
                    th{
                        font-weight: 800;

                        border-bottom: 1px solid #ed6e0b;
                    }
                    
                }
                tbody{
                    background-color: rgba(255, 255, 255, 0.363);
                    &.user {
                        color:#ed6e0b ;
                        font-weight: 600;
                        margin-bottom: 3vh;
                    }
                    tr,td{
                        border-bottom: 1px #ed6e0b solid;
                    }
                }
                th,td{
                    padding: 5px 8px;
                    text-align: center;
                }

        }
}