@import '../../styles/mixins/responsive';

.col{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    h1{
        color: white;
        width: 70%;
        text-align: center;
        font-size: 27px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin-bottom: 50px;
        &::first-letter{
            color: #ed6d0b;
        }
    }
    .containerSelect{
        margin-bottom: 25px;
    }
        label{
            padding: 0 20px;
            font-size: 24px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 15px;
            color: white;
            &::first-letter{
                color: #ed6d0b;
            }

        }
        .option {
            label{
            color: black;
            }
        }
}
.pushBtn{
    width: 90%;
    border: none;
    color: #ed6d0b;
    background-color: white;
    padding: 10px;
    font-size: 22px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.54);
    cursor: pointer; 
    @include desktop{
        width: 40%;
        
    }
    &:hover{
        transform: scale(1.03);
      }
}
.bgBet{
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../../images/test.jpeg');
    background-position: center;
    background-size: cover;
    filter: brightness(0.5);
}
.grid{
    z-index: 2;
    display: flex;
    gap: 3vh;
    width: 100%;
    max-width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    height: min-content;
    justify-content: center;
    margin-bottom: 7vh;
        @include tablet{
            
            margin-bottom: 0;
            margin-top: 5vh;
        }
        @include desktop{
            gap:5vh;
        }
        .subtitle{
            width: 100vw;
            color:whitesmoke;
            font-family: 'Montserrat', sans-serif;
            padding: 40px 0 0 0;
            text-align: center;
            font-size: 38px;
            
        }
        .subtitle2{
            display: flex;
            justify-content: center;
            width: 100vw;
            color:#ed6d0b;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(245,245,245,0) 5%, rgba(245,245,245,1) 20%, rgba(245,245,245,1) 80%, rgba(245,245,245,0) 95%);
            font-family: 'Montserrat', sans-serif;
            padding: 10px 0 10px 0px;
            font-size: 22px;
            @include desktop{
                font-size: 26px;
                padding: 20px 0 20px 0px;
            }
                .txt{
                    width: 70%;
                    text-align: center;
                }
            
        }
        a{
            font-family: 'Montserrat', sans-serif;
            background-color: white;
            color: #ed6d0b;
            height: min-content;
            text-decoration: none;
            font-size: 25px;
            font-weight: 600;
            padding: 12px 15px;
            text-align: center;
            border: solid 1px black;
            width: 100%;
            max-width: 370px;
            -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.12); 
            box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.12);
            transition: 0.5s;
             i{
                font-size: 28px;
                margin-left: 15px;
                color: #ed6d0b;
                display: none;
             }
            &.done>i{
                display: inline;
            }
            &:hover{
                transform:scaleX(1.05) scaleY(1.10);
                transition: 0.5s;
            }
        }
}